body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url("../img/background.jpg");
}

*, *::after, *::before{
    box-sizing: inherit;
}

.keys{
    border: 2px solid white;
    display: flex;
}

.key{
    border: 4px solid black;
    transition: all 500ms;
}

.key > kbd{
    display: inline-block;
    background-color: grey;
    font-size: 2rem;
    color: white;
}

.playing{
    transform: scale(1.1);
    box-shadow: 0 0 10px #ffc600;
}