body, html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Shadows Into Light', cursive;
    background: #ffc600;
}



*, *::before, *::after{
    box-sizing: inherit;
}

.panels{
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}

.panel{
    text-align: center;
    flex-grow: 1;
    font-weight: bold;
    color: rgb(221, 221, 221);
    box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
    margin: 0;
    background-size: cover;
    background-position: center;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}

.panel p{
    border: 2px solid red;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    font-size: 2rem;
    flex-grow: 1;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 500ms;
}

.panel.open{
    flex-grow: 5;
}

p:nth-of-type(2){
    font-size: 3.5rem;
}

p:first-child{
    transform: translateY(-100%);
}

p:last-child{
    transform: translateY(100%);
}

p.active{
    transform: translateY(0);
}


.panel1 { background-image:url("../img/panel1.jpg"); }
.panel2 { background-image:url("../img/panel2.jpg"); }
.panel3 { background-image:url("../img/panel3.jpg"); }
.panel4 { background-image:url("../img/panel4.jpg"); }
.panel5 { background-image:url("../img/panel5.jpg"); }
