body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

*, *::after, *::before{
    box-sizing: inherit;
}

html{
    scroll-behavior: smooth;
}


#formSection{
    text-align: center;
}


#query-results{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

.img-container{
    text-align: center;
}